:root {
    --primary--background-color:#d8ebcd;
    --lighter--background-color:#e5f7da;

}

html {
    height: 100vh;
}

body {
    background-color: var(--primary--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 20px; 
}

h1 {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    color: #dc65ba;
}

.header-text {
    font-family: 'Courier New', Courier, monospace;
}
button {
    display: flex; 
    font-size: 25px;
    border-radius: 10px;
    border-color: green;
    border-style: dashed;
    color: green;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}

button:hover {
    background-color: #dc65ba;
    font-family: 'Courier New', Courier, monospace;
}
#placeholder {
    text-align: center;
    width: 200px;
    height: 100px;
}


#drinkName {
    text-align: center;
    width: 230px; 
    height: 30px; 
    font-size: 15px; 
    padding: 12px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    margin: 12px;
}


.martini {
    width: 50x;
    height: 200px;
    margin-right: 10px;

}

img {
    max-width: 100%;
    max-height: 100%;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--lighter--background-color);
    border-radius: 10px;
}

#drinkInstructions{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    width: 430px;
}

#drinkTitle {
    font-family: cursive;
}

#drinkImageWrapper {
    text-align: center;
    display: none; 
}

#drinkImage {
    border-radius: 10px;
    border-style: dashed;
    width: 250px;
    height: 250px;
}



#drinkTitle {
    text-align: center;
}

.drink-details {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.drink-info-container {
    text-align: center;
}



@media screen and (max-width: 600px){ 
    body {
        background-color: var(--primary--background-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
        margin: 20px; 
    }
    #placeholder {
        text-align: center;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--lighter--background-color);
        padding: 13px;
        position: static;
        border-radius: 12px;
    }


    .logo {
        max-width: 100px;
    }
    
    h1 {
        text-shadow: 12px;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
    }

    
    #drinkImage {
        width: 100%;
        max-width: 250px; 
        margin: auto; 
    }

    #drinkInstructions{
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
        width: 100%;
    }
}